name: CI
on: 
  push:
  pull_request:

jobs: 
  build:
    runs-on: ubunty-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - run: dotnet test
